<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie-Recommender</title>
        <style>
            .result{
                text-align: center;
            }
            table{
                margin: auto;
                padding-top: 5%;
            }
            h1{
                color: rgb(233, 134, 20);
                margin: auto;
                text-align: center;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <br>
        <h1>Your recommendations are :</h1>
        <div class="result">
            <table>
                <tr>
                    <td>1-</td>
                    <td>{{predict}}</td>
                </tr>
                <tr>
                    <td>2-</td>
                    <td>{{predict1}}</td>
                </tr>
                <tr>
                    <td>3-</td>
                    <td>{{predict2}}</td>
                </tr>
                <tr>
                    <td>4-</td>
                    <td>{{predict3}}</td>
                </tr>
                <tr>
                    <td>5-</td>
                    <td>{{predict4}}</td>
                </tr>
                <tr>
                    <td>6-</td>
                    <td>{{predict5}}</td>
                </tr>
                <tr>
                    <td>7-</td>
                    <td>{{predict6}}</td>
                </tr>
                <tr>
                    <td>8-</td>
                    <td>{{predict7}}</td>
                </tr>
                <tr>
                    <td>9-</td>
                    <td>{{predict8}}</td>
                </tr>
                <tr>
                    <td>10-</td>
                    <td>{{predict9}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
